<div id="activity-panel">
  <div id="state-label"></div>
  <div id="edit-information"></div>
  <div class='button success' id="save-page">Save Page</div>
</div>
<ul class="tabs-content">
  <li class="active">
  <ul class="accordion">
    <li class="active">
    <div class="title">
      <h4><i class="icon-layouts"> </i> Layouts</h4>
    </div>
    <div class="content">
      <img src="assets/images/layouts/layout-full.png" class="layout-type" draggable="true" id="w"/>
      <img src="assets/images/layouts/layout-half.png" class="layout-type" draggable="true" id="h"/>
      <img src="assets/images/layouts/layout-third.png" class="layout-type" draggable="true" id="t"/>
      <img src="assets/images/layouts/layout-quarter.png" class="layout-type" draggable="true" id="q"/>
      <img src="assets/images/layouts/layout-half-quarter.png" class="layout-type" draggable="true" id="hqq"/>
      <img src="assets/images/layouts/layout-quarter-half-quarter.png" class="layout-type" draggable="true" id="qhq"/>
      <img src="assets/images/layouts/layout-quarter-half.png" class="layout-type" draggable="true" id="qqh"/>
      <img src="assets/images/layouts/layout-third-twothird.png" class="layout-type" draggable="true" id="t2t"/>
      <img src="assets/images/layouts/layout-twothird-third.png" class="layout-type" draggable="true" id="2tt"/>
      <img src="assets/images/layouts/layout-threequarter-quarter.png" class="layout-type" draggable="true" id="3qq"/>
      <img src="assets/images/layouts/layout-quarter-threequarter.png" class="layout-type" draggable="true" id="q3q"/>
    </div>
    </li>
    <li>
    <div class="title">
      <h4><i class="icon-tools"> </i> Tools</h4>
    </div>
    <div class="content">
      <h4 class="tool-type"><a class="button" id="delete">Delete</a></h4>
      <h4 class="tool-type"><a class="button" id="rearrange">Rearrange</a></h4>
      <h4 class="tool-type"><a class="button" id="edit">Edit</a></h4>
    </div>
    </li>
    <li>
    <div class="title">
      <h4><i class="icon-widgets"> </i> Widgets</h4>
    </div>
    <div class="content">
      <h4 class="widget-type" draggable="true" id="text"><i class="icon-text"> </i> Text</h4>
      <h4 class="widget-type" draggable="true" id="media"><i class="icon-media"> </i> Media</h4>
      <h4 class="widget-type" draggable="true" id="custom"><i class="icon-custom"></i> Custom</h4>
    </div>
    </li>
  </ul>
  </li>
</ul>
