<div class="row">
  <div class="twelve columns">
    <div class="preview">
      <img id="thumb" width="100px" height="100px" src="">
    </div>
    <span class="wrap hotness">
      <form accept-charset="UTF-8" action="/photos" id="uploadImageForm" enctype="multipart/form-data" method="post">

        <!--<label>Upload a Picture</label>
        <div class="field">
          <label for="photo_title">Title</label><br>
          <input id="photo_title" name="photo[title]" size="30" type="text">
        </div>
        <div class="field">
          <label for="photo_image">Image</label><br>
          <input id="photo_image" name="photo[image]" type="file">
        </div>
        <div class="actions">
          <input name="commit" type="submit" value="Create Photo">
        </div>-->
      </form>
      <a class="button secondary small" id="cancel-upload">cancel</a>
    </span>
  </div>
</div>
